IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_URL=your_imagekit_url
SECRET_KEY=your_secret_key_here
DATABASE_URL=sqlite+aiosqlite:///./test.db
API_URL=http://localhost:8000

